/* src/index.css */

/* Tailwind should live here */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base reset */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
